* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #548687;
    text-align: center ;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffc7;
}

#reset-button,
#new-btn {
    padding: 1rem;
    margin-bottom: 3rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#msg{
    color: #ffffc7;
    font-size: 5vmin;
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}

footer {
    position: fixed;
    bottom: 15px;
    right: 20px;
    font-size: 13px;
    color: #ffffff;
    background-color: #222;
    padding: 8px 12px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 0.85;
}


h1 {
    margin-top: 2rem; 
    font-size: 3rem; 
    color: #00d2ff; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
}
